.container{
  margin: 10px;
  padding: 5%;
  font-family: Poppins;
  width:100%;
  background:lightgrey;
  height:100%;
  overflow: hidden;
  display: block; 
  border:dotted 0px #bbbbbb;
  float:initial;
  align-self: center;
}
.movie-card {
  float:left;
  background:#b6d3d3;
  padding:5px;
  border:solid 10px #000000;
  margin:10px;
  align-self: center;
}
.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 1px;
  }
 
  #titles{
  color: rgb(39, 39, 39);
  font-family: Poppins;
  font-weight: bold;
  }
  #subtitles{
  color: rgb(116, 116, 116);
  font-family: Poppins;
  font-size: 22px;
  font-weight: thin;
  }

  #labels{
  color: rgb(116, 116, 116);
  font-family: Poppins;
  font-size: 16px;
  font-weight: thin;
  }

  h5.card-title {
    font-weight: 700;
}

h6.card-title {
    color: dimgrey;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.25rem;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  padding-bottom: 1.1rem;
}


p.card-text {
  font-size: 0.9rem;
  color: #5f5f5f;
  font-weight: 200;
}

  #rcorners4 {

      border-radius: 15px;
      background: #ffffff;
      padding: 14px;
      box-shadow: 8px 7px 10px 0px #d6d6d6;
      border: none;
      margin-bottom: 2rem;

}

  #button{
    border-radius: 10px;
    background: rgb(240, 197, 116);
    width: 420px;
    height: 50;
    box-shadow: 0px 2px 10px 0px #d6d6d6;
    padding: 10px;
    border: none;
    color: white;

  }
