<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 movie_list">
  <div class="pt-8 pb-2 mb-3 border-bottom">
      <div class="row">

          <!-- Movie Card Start -->
          <div class="card-view">
              <div class="card-header" >
                <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/{{this.randomMovie1.movieData.poster_path}}" alt="Card image cap" style="max-width: 200px;">                 
              </div>

              <div class="card-movie-content">
                  <div class="card-movie-content-head">
                    
                          <h3 class="card-movie-title">{{this.randomMovie1.movieData.title}}</h3>
                      
                      <div class="ratings"><span>{{this.randomMovie1.movieData.vote_average}}</span>/10</div>
                  </div>
                  <div class="card-movie-info">
                      <div class="movie-running-time">
                          <label>Date</label>
                          <span>{{this.randomMovie1.movieData.release_date | date}}</span>
                      </div>
                      
                      
                  </div>
                  <details>
                    <summary>
                    Overview
                    </summary>
                    <p class="card-text">"{{this.randomMovie1.movieData.overview}}"</p>
                    </details>
              </div>
              <div class="card-body">
                <button (click)="pickMovie(this.randomMovie1, this.movieToDb1)" class="card-link">Take</button>
              </div>
          </div>
          <!-- Movie Card End -->
             <!-- Movie Card Start -->
          <div class="card-view">
            <div class="card-header" >
              <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/{{this.randomMovie2.movieData.poster_path}}" alt="Card image cap" style="max-width: 200px;">                 
            </div>

            <div class="card-movie-content">
                <div class="card-movie-content-head">
                   
                        <h3 class="card-movie-title">{{this.randomMovie2.movieData.title}}</h3>
                    
                    <div class="ratings"><span>{{this.randomMovie2.movieData.vote_average}}</span>/10</div>
                </div>
                <div class="card-movie-info">
                    <div class="movie-running-time">
                        <label>Date</label>
                        <span>{{this.randomMovie2.movieData.release_date | date}}</span>
                    </div>           

                </div>
                <details>
                  <summary>
                  Overview
                  </summary>
                  <p class="card-text">"{{this.randomMovie2.movieData.overview}}"</p>
                  </details>
            </div>
            
            
            <div class="card-body">
              <button (click)="pickMovie(this.randomMovie2, this.movieToDb2)">Take</button>
            </div>
        </div>
        </div>
          <!-- Movie Card End -->
        </div>

  </main>

