<header>
  <div class="bg-dark">
    <div class="container">

      <div id ="logo">
        <a [routerLink]='["/welcome"]' class="nav-link">
          TheNetFish
        </a>
      </div>


      <div>
        <ul id="menuDX" class="nav col-lg-auto my-2 my-md-0 justify-content-end">
          <li></li>

          <li>
            <a [routerLink]='["/dashboard"]' class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              Movies
            </a>
          </li>
          <li>
            <a [routerLink]='["/reviews"]' class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              Reviews
            </a>
          </li>
          <li>
            <a [routerLink]='["/matchMovies"]' class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
             Movie Match
            </a>
          </li>
            <li *ngIf="this.currentUser==null; then loginBlock else logoutBlock">
            <li>
            <ng-template #loginBlock>
            <a [routerLink]="['/login']" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              <i class="openButton fas fa-user fa-1.5x bi d-block mx-auto mb-1" width="24" height="24"></i>
            </a>
            </ng-template>
            <ng-template #logoutBlock>
              <li>Ciao, {{this.currentUser.username}}!</li>
              <a [routerLink]="['/login']" class="nav-link" (click)="logout()">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                Logout
              </a>
              </ng-template>
            </li>
            <li>
              <a [routerLink]="['/filterByGenre']" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                <i class="fas fa-filter fa-1.5x bi d-block mx-auto mb-1" width="24" height="24"></i>
              </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
