<div class="container p-3" *ngIf="movies">
  <h1 class="text-center mb-5">
    The Net Fish Popular Movies
  </h1>
  <div class="text-right">  
    <a class="btn btn-secondary mr-3" aria-label="Left Align" [routerLink]='["/add"]'>
      Add Movie
      </a>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Director</th>
        <th scope="col">Popularity</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of sortedMovies ; let i = index" (click)="goToDetails(entry.id)">
        <th scope="row"> {{i + 1}}</th>
        <td>{{entry.name}}</td>
        <td>{{entry.director}}</td>
        <td>{{entry.counter}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-loading-page *ngIf="movies==null" ></app-loading-page>
