

<div class="container">
    <div class="movie-card">
      <div class="movie-content" *ngFor="let entry of movies.results">
        <div class="movie-content-header" >
          <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/{{entry.poster_path}}" alt="Card image cap" style="max-width: 200px;">
        </div>
        <div class="card-body">
  
        <h4 class="movie-title">{{entry.title}}</h4>
          <div class="movie_info">
                <i class="fas fa-star"></i>{{entry.vote_average}}
          </div>
          <div class="movie-info">
            <div class="info-section">
              <label>Date</label>
              <span>: {{entry.release_date | date}}</span>
            </div>
          </div>
  
            <details>
            <summary>
            Read Overview
            </summary>
            <p class="card-text">"{{entry.overview}}"</p>
            </details>
          </div>    
</div>
  
      
        

        
     
    
  
 