<form #selectedMovie="ngForm">
  <div class="form-group row">
    <label for="sort"  class="col-sm-2 col-form-label">Movie</label>
        <div class="col-sm-10">
          <select class="form-control" id="movies" ngModel required name="selectedMovie">
            <option value="" disabled selected hidden>Select a movie</option>
            <option *ngFor="let movie of movies"> {{movie.name}} </option>
          </select>
        </div>
  </div>
</form>
<button class="btn btn-primary mb-3" (click)="selectMovie(selectedMovie)">Confirm</button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rating</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" *ngFor="let rating of filteredRatings; index as i">
        <th scope="row"> {{filteredUsers[i].username}}</th>
        <td>{{rating.movie_rating}}/5</td>
        <td>{{filteredComments[i].body}}</td>
    </tr>
</tbody>
</table>
