<div class="container p-5">
  <div class="row" >
      <h3 class="text-center" >Review Movie</h3>
  </div>
  <form class="pt-5" (ngSubmit)="onSubmit(form)" #form="ngForm">

      <div class="form-group row">
          <label for="selectedMovie" class="col-sm-2 col-form-label">Movie</label>
          <select class="form-control" id="movie" ngModel required name="selectedMovie">
            <option value="" disabled selected hidden>Select a movie</option>
            <option *ngFor="let movie of movies"> {{movie.name}} </option>
          </select>
      </div>
      <br>
      <div class="form-group row">
          <label for="rating" class="col-sm-2 col-form-label">Rating</label>
          <select class="form-control" id="rating" ngModel required name="rating">
            <option *ngFor="let rating of ratings"> {{rating}} </option>
          </select>
      </div>
      <br>
      <div class="form-group row">
        <label for="comment" class="col-sm-2 col-form-label">Comment</label>
      </div>
      <div>
          <textarea rows="2" cols="25" class="form-control" id="comment" required ngModel minlength="20" name="comment"></textarea>
      </div>
      <br>
      <div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-success">Submit</button>
      </div>
  </form>
</div>
