<div class="container">
  <div class="row">
    <div class="col">
      <h1 id="titles">Movie Match</h1>
      <p id="subtitles" >Explore</p>
      <form action="/action_page.php">
        <div>
          <a href="/matchFromApi">
          <input type="radio" id="radiox" name="radio" value="Netfish">
          <label id="radiosx"for="Netfish" href="/matchFromDb">Netfish List</label>
          </a>
          <a href="/matchFromDb">
          <input type="radio" id="radiox" name="radio" value="Watchlist">
          <label id="radiodx"  for="Watchlist">Your Watchlist</label>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
