<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/matchFromApi"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>MoviesFromApi
      </a>
    </div>
    <div class="col-sm">
      <a href="/matchFromDb"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>MoviesFromDB
      </a>
    </div>
  </div>
</div>
