.container{
  margin: 10px;;
  padding: 2.5%;
  font-family: Poppins;
  height: 25%;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);

}
.header{
  text-align: center;
  justify-content: center;
  float:flex;
  margin: 0 auto;
  width: 30%;
  background-color: rgb(240, 197, 116);
  padding: 20px;
  color:black;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);


}
.label{
  margin-block: 30px;
  background-color: rgb(238, 179, 71);
  color: #000000;
  margin:10px;
  padding: 10px;
  max-width: 180px;
  display: inline-block;
  text-align: center;
  margin:20px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);

}


  
 
  
  
 
