<div class="container">
  <div class="row">
      <div class ="header">
        <h1 id="titles">Movie Match</h1>
          <div class="label">
            <label>
              <input [value]="1" [(ngModel)]="sh" name="sh" type="radio" [checked]="isChecked" /> API
            </label>

            <label>
              <input [value]="0" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" /> Database
            </label>
          </div>
      </div>
  </div>
</div>

<body>
  <div *ngIf="sh == 1"><app-MoviesFromApi></app-MoviesFromApi></div>
  <div *ngIf="sh == 0"><app-moviesFromDB></app-moviesFromDB></div>
</body>



