
<div class="container">

  <div class="movie-card">
    <div class="movie-content">
      <div class="movie-content-header" >
        <img class="card-img-top"  src="{{this.randomMovie1.moviePoster}}" style="max-width: 200px;">
      </div>
      <div class="card-body">

      <h4 class="movie-title">{{this.randomMovie1.movieData.name}}</h4>
        <div class="movie_info">
              <i class="fas fa-star"></i>{{this.randomMovie1.movieData.evaluation}}
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Date</label>
            <span>: {{this.randomMovie1.movieData.releaseDate | date}}</span>
          </div>
        </div>

          <details>
          <summary>
          Read Overview
          </summary>
          <p class="card-text">"{{this.randomMovie1.movieData.reviews}}"</p>
          </details>
      </div>
    </div><!--movie-content-->
    <div class="card-body">
      <button  class="card-link" (click)="pickMovie(this.randomMovie1)" >Pick</button>
    </div>
  </div>

  <div class="movie-card">
    <div class="movie-content">
      <div class="movie-content-header" >
        <img class="card-img-top"  src="{{this.randomMovie2.moviePoster}}" style="max-width: 200px;">
      </div>
      <div class="card-body">

      <h4 class="movie-title">{{this.randomMovie2.movieData.name}}</h4>
        <div class="movie_info">
              <i class="fas fa-star"></i>{{this.randomMovie2.movieData.evaluation}}
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Date </label>
            <span>: {{this.randomMovie2.movieData.releaseDate | date}}</span>
          </div>
        </div>

          <details>
          <summary>
          Read Overview
          </summary>
          <p class="card-text">"{{this.randomMovie2.movieData.reviews}}"</p>
          </details>
      </div>
    </div><!--movie-content-->
    <div class="card-body">
      <button class="card-link" (click)="pickMovie(this.randomMovie2)">Pick</button>
    </div>
  </div>
</div>
