@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.fa-backward {
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(159, 199, 205, .6);

}

.container  {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-family: "DK Lemon Yellow Sun";
    font-weight: bold;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(196, 195, 194);
  }
